/* Paleta de cores

#252525  => #6C584C  
#fff     => #F0EAD2  
#3B2F2F  => #A98467  
#d6d3c8  => #ADC178  
#DDE5B6  => #DDE5B6 
#DDE5B6  => #DDE5B6   */


/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #6C584C;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
}

@media (max-width: 739px) {
	.container {
		flex-direction: column;
		max-width: 300px;
	}
}

/* Menu */

.menu {
	background: #3B2F2F;
	padding: 30px 0;
}

.menu-nav a {
	text-decoration: none;
	color: #FFF;
	font-size: 2em;
}

.menu-logo {
	margin: 0 10px;
	color: #F0EAD2;
}

.menu-logo img {
	width: 300px; 
	height: auto; 
}

.menu-nav {
	flex: 1;
	margin: 0 10px;
	align-self: center;
}

.menu-nav ul {
	float: right;
	display: flex;
	list-style: none;
}

.menu-nav ul li a {
	padding: 10px;
}

@media (max-width: 739px) {
	.menu-nav {
		margin: 0px;
	}
	.menu-logo {
		margin: 0px;
	}
	.menu-nav ul li a {
		padding-left: 0px;
	}
}



/* Intro */

.intro {
	background: url('../img/bg-intro.png') no-repeat center center;
	background-size: cover;
	color: #F0EAD2;
	padding: 300px 0;
	text-align: center;
}

@media (max-width: 739px) {
	.intro {
		padding: 120px 0;
	}
}

/* Sobre */

.sobre {
	padding: 120px 0;
}

.sobre h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 60px;
}

.sobre-item {
	flex: 1;
	margin: 0 10px;
}

.sobre-item img {
	display: block;
	max-width: 100%;
}

.sobre-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #6C584C;
	color: #F0EAD2;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	width: 220px;
	padding: 5px 0 10px 0;
	top: -25px;
}

.sobre > p {
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 20px auto;
	max-width: 950px;
	text-align: justify; 
}

@media (max-width: 739px) {
	.sobre-item {
		margin-left: 0px;
		margin-right: 0px;
	}
	.sobre > p {
		font-size: 1.5em;
		line-height: 1.4em;
		margin: 20px 20px;
		max-width: 950px;
		text-align: justify; 
	}
}


/* Produtos */

.produtos {
	background: #3B2F2F;
	color: #DDE5B6;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
	padding: 60px 0;
}

.produtos-item {
	flex: 1;
	margin: 0 10px 40px 10px;
}

.produtos-item h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #DDE5B6;
	box-shadow: 0 0 0 5px currentColor;
	margin: 20px auto;
}

h2.produtos-barba::before {
	content: "";
	color: #F0EAD2;
	display: block;
	width: 100px;
	height: 100px;
	background-image: url('../img/barba.jpg');
	background-size: cover;
	background-position: center;
	margin: 20px auto;
}

h2.produtos-cabelo::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	background-image: url('../img/cabelo.jpg');
	background-size: cover;
	background-position: center;
	margin: 20px auto;
}

h2.produtos-cabelobarba::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	background-image: url('../img/cabelobarba.jpg');
	background-size: cover;
	background-position: center;
	margin: 20px auto;
}

.produtos-item p {
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: justify;
}

.produtos-btn {
	border: 3px solid #6C584C;
	color: #6C584C;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 20px auto 0 auto;
}

@media (max-width: 739px) {
	.produtos-item {
			margin-left: 0px;
			margin-right: 0px;
	}
}


/* Locais */

.locais {
	padding: 60px 0;
}

.locais-item {
	margin-bottom: 40px;
}

.locais-img, .locais-info {
	flex: 1;
	margin: 0 10px;
}

.locais-img img {
	display: block;
	max-width: 100%;
}

.locais-item h2 {
	font-size: 2.25em;
	margin-bottom: 20px;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 320px;
	margin-bottom: 40px;
}

.locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
	color: #6C584C;
	padding: 10px 20px;
}

@media (max-width: 739px) {
	.locais-img, .locais-info {
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* Assine */

.assine {
	background: #DDE5B6;
	padding: 30px 0;
}

.assine-info {
	flex: 1;
	margin: 0 10px;
}

.assine-info h2 {
	font-size: 2.25em;
}

.assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

.assine form {
	flex: 1;
	margin: 0 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.assine form label {
	display: none;
}

@media (max-width: 739px) {
	.assine-info {
		margin: 0 0 20px 0;
	}
	.assine form {
		margin: 0px;
	}
}

.assine input {
	flex: 1;
	align-self: flex-start;
	padding: 10px;
	border: 3px solid #6C584C;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
}

.assine button {
	flex: 1;
	padding: 13px;
	align-self: flex-start;
	background: #6C584C;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #F0EAD2;
	cursor: pointer;
}

/* Footer */

.footer {
	background: #3B2F2F;
	padding: 40px 0;
	color: #F0EAD2;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 300px; 
}

.footer-contact, .footer-social {
	flex: 1;
	margin: 0 20px;
}

.footer h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
	margin: 5px 0;
}

.footer a {
	color: #F0EAD2;
	text-decoration: none;
	margin-right: 10px;
}

.footer a img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

@media (max-width: 739px) {
	.footer .container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 50px; 
	}

	.footer-contact, .footer-social {
		margin: 10px 0;
	}
}

